

<br><br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<body>

<div class="container">
  <h2>Add Brand</h2>
    <div class="form-group">
      <label for="">name</label>
      <input [(ngModel)]="name" type="text" class="form-control" required>

    </div>
   
    <div class="form-group">
    </div>
    <button (click)="addbrand()"  class="btn btn-success">Add </button>

    <a style="margin-left: 10px;" routerLink="/home/brand" class="btn btn-danger">Cancel</a>
</div>
</body>

